<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Função</th>
      <th>Setor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.user.name %></td>
        <td><%= employee.user.login%></td>
        <td><%= employee.function.to_s %></td>
        <td><%= employee.sector.name %></td>
        <td>
          <%= link_to ' Exibir', employee, :class => 'btn btn-primary btn-sm glyphicon glyphicon-eye-open' %>
          <%= link_to ' Editar', edit_employee_path(employee), :class => 'btn btn-primary btn-sm glyphicon glyphicon-pencil' %>
          <%= link_to ' Excluir', employee, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-danger btn-sm glyphicon glyphicon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionário', new_employee_path, :class => 'btn btn-primary' %>
