<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @employee.user.name%>
</p>

<p>
  <strong>Login/Matricula:</strong>
  <%= @employee.user.login%>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @employee.function %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @employee.sector.name %>
</p>

<p>
  <strong> </strong>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
