<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @employee.user.name%>
</p>

<p>
  <strong>Login/Matricula:</strong>
  <%= @employee.user.login%>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @employee.function.to_s %>
</p>

<p>
  <strong>Setor:</strong>
  <%= @employee.sector.name %>
</p>

<p>
  <strong> </strong>
</p>

<%= link_to "Editar", edit_employee_path(@employee), :class => 'btn btn-primary' %>
<%= link_to "Voltar", employees_path, :class => 'btn btn-primary' %>