
<%= form_for @student do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :user do |ff| %>
    <div class="field">
      <%= ff.label :name %><br>
      <%= ff.text_field :name %>
    </div>
    <div class="field">
       <%= f.label :course %><br>
       <%= f.collection_select :course_id, Course.all, :id, :name, :prompt => true %>
    </div>
    <div class="field">
      <%= ff.label :data_nascimento %><br>
      <%= ff.date_select :data_nascimento, start_year: 1950 %>
    </div>
    <div class="field">
      <%= ff.label :num_identidade %><br>
      <%= ff.text_field :num_identidade %>
    </div>
    <div class="field">
      <%= ff.label :cpf %><br>
      <%= ff.text_field :cpf %>
    </div>
    <div class="field">
      <%= ff.label :cidade %><br>
      <%= ff.text_field :cidade %>
    </div>
    <div class="field">
      <%= ff.label :estado %><br>
      <%= ff.text_field :estado %>
    </div>
    <div class="field">
      <%= ff.label :telefone %><br>
      <%= ff.text_field :telefone %>
    </div>
    <div class="field">
      <%= ff.label :celular %><br>
      <%= ff.text_field :celular %>
    </div>
    <div class="field">
      <%= ff.label :email %><br>
      <%= ff.text_field :email %>
    </div>

    </div>
    <div class="field">
      <%= ff.label :password %><br>
      <%= ff.password_field :password %>
    </div>
    <div class="field">
      <%= ff.label :password_confirmation %><br>
      <%= ff.password_field :password_confirmation %>
    </div>
  <% end %>


  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>