<p id="notice"><%= notice %></p>

<h1>Aluno</h1>

<h4>Nome:
    <%= @student.user.name %>
</h4>
<h4>Curso:
    <% if (@student.course != nil) %>
      <%= @student.course.nome %>
    <% end %>
</h4>

<%= link_to "Editar", edit_student_path(@student), :class => 'btn btn-primary' %>
<%= link_to "Voltar", students_path, :class => 'btn btn-primary' %>