<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @coordinator.courses.name %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @coordinator.user.name %>
</p>

<%= link_to 'Edit', edit_coordinator_path(@coordinator) %> |
<%= link_to 'Back', coordinators_path %>
