<p id="notice"><%= notice %></p>

<h1>Setores</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Cód</th>
      <th>Nome</th>
      <th>Ações</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sectors.each do |sector| %>
      <tr>
        <th scope="row"><%= sector.id %></th>
        <td><%= sector.name %></td>
        <td>
          <%= link_to ' Exibir', sector, :class => 'btn btn-primary btn-sm glyphicon glyphicon-eye-open' %>
          <%= link_to ' Editar', edit_sector_path(sector), :class => 'btn btn-primary btn-sm glyphicon glyphicon-pencil' %>
          <%= link_to ' Excluir', sector, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-danger btn-sm glyphicon glyphicon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Setor', new_sector_path, :class => 'btn btn-primary' %>
