<p id="notice"><%= notice %></p>

<h1>Usuário</h1>

<h4>Nome:
    <%= @user.name %>
</h4>
<h4>Nascimento:
    <%= @user.data_nascimento %>
</h4>
<h4>Identidade:
    <%= @user.num_identidade %>
</h4>
<h4>CPF:
    <%= @user.cpf %>
</h4>
<h4>Cidade:
    <%= @user.cidade %>
</h4>
<h4>Estado:
    <%= @user.estado %>
</h4>
<h4>Telefone:
    <%= @user.telefone %>
</h4>
<h4>Celular:
    <%= @user.celular %>
</h4>
<h4>E-mail:
    <%= @user.email %>
</h4>
<h4>Login:
    <%= @user.login %>
</h4>
<h4>Senha:
    <%= @user.password_digest %>
</h4>
<%= link_to "Editar", edit_user_path(@user), :class => 'btn btn-primary' %>
<%= link_to "Voltar", users_path, :class => 'btn btn-primary' %>