<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @user.data_nascimento %>
</p>

<p>
  <strong>Num identidade:</strong>
  <%= @user.num_identidade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @user.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @user.estado %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @user.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @user.celular %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>
