<%= form_for(@class) do |f| %>
  <% if @class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@class.errors.count, "error") %> prohibited this class from being saved:</h2>

      <ul>
      <% @class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %><br>
    <%= f.text_field :codigo %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select(:course_id, Course.all, :id, :nome, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label :discipline_id %><br>
    <%= f.collection_select(:discipline_id, Discipline.all, :id, :nome, include_blank: true) %>
  </div>
  <div class="field">
    <%= f.label :num_aluno %><br>
    <%= f.text_field :num_aluno %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
