<p id="notice"><%= notice %></p>

<h1>Curso</h1>

<h4>Código:
    <%= @class.codigo %>
</h4>
<h4>Disciplina:
    <%= @class.discipline.nome %>
</h4>
<h4>Curso:
    <%= @class.num_aluno %>
</h4>
<h4>Limite de Alunos:
    <%= @class.num_aluno %>
</h4>
<h4>Professor:
    <%= @class.professor %>
</h4>
<%= link_to "Editar", edit_classe_path(@class), :class => 'btn btn-primary' %>
<%= link_to "Voltar", classes_path, :class => 'btn btn-primary' %>