<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @professor.course %>
</p>

<p>
  <strong>Classe:</strong>
  <%= @professor.classe %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
