<%= simple_form_for @course, :html => { :class => 'form-horizontal' } do |f|%>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= f.label :nome, "Nome", :class => 'col-sm-2 form-control-label' %>
    <div class="col-sm-10">
        <%= f.text_field :nome, :class => 'form-control', :placeholder =>"Nome"%>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Salvar', :class => 'btn btn-primary' %>
        <%= link_to "Cancelar", courses_path, :class => 'btn btn-primary' %>
    </div>
</div>
<% end %>
